.w-contact_list {
    margin: 60px 100px 0 0;
    left: auto;
    right: 0;
	background-color: #5b7fff;
}

.w-contact_list .caption {
}

.w-contact_list .user_block:first-child {
	margin-top: 0.5em;
}

.w-contact_list .user_block {
    cursor: pointer;
	height: 32px;
	margin-bottom: 0.5em;
}

.w-contact_list .user_block.online {
	color: #006400;
}

.w-contact_list .user_block .user_name {
	margin-top: 11px;
	display: inline-block;
	font-size: 80%;
}

.w-contact_list .user_block.active {
	background-color: #BBDDFF !important;
}

.w-contact_list .add-user {
    background: url(../../../imgs/user_add.png) no-repeat scroll 0 0 transparent;
    color: #333333;
    float: left;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 0 13px 34px;
    text-decoration: none;
    margin: 4px 0 0 6px;
}