.w-main {
	height: 100%;
}

#headline {
	top: 0px;
	left: 0px;
	background-color: navy;
	position: absolute;
	color: white;
}

#headline .user_id {
	position: absolute;
	top: 7px;
	right: 4px;
}

.area {
	height: 100%;
	position: relative;
}

.footer {
	text-align: center;
	color: silver;
	position: absolute;
	height: 24px;
	width: 100%;
	left: 0;
	bottom: 0;
	font-size: 80%;
}