.w-main {
	height: 100%;
}

#headline {
	background-color: navy;
	color: white;
    position: absolute;
}

.caption#headline {
    padding: 5px 0;
    width: 100%;
}

#headline .user_id {
	position: absolute;
	top: 7px;
	right: 4px;
}

#blank {
    height: 100%;
	padding: 32px 0 24px;
	position: relative;
}

.footer {
	text-align: center;
	color: silver;
	position: absolute;
	height: 24px;
	width: 100%;
	left: 0;
	bottom: 0;
	font-size: 80%;
}