.w-room {
	min-height: 200px;
    margin: 70px 0 0 100px;
	z-index: 10;
}

.w-room .caption {
}

.w-room.collapsed {
	height: 32px !important;
}
.w-room.collapsed .textarea {display: none;}
.w-room.collapsed .content {display: none;}
/*.w-room.active .unread {display: none}*/
/*.w-room.collapsed .unread {display: inline-block !important;}*/

.w-room .input {
	display: none;
}


.w-room .content {
    padding:10px 10px 4px;
    overflow-y: auto;
    overflow-x: visible;
}


.w-room dl {
}

.w-room dt {
    font-size: 11px;
    padding: 0 0 6px 0;
}

.w-room dt b {
    font-weight: bold;
}

.w-room dd {
    font-size: 13px;
    padding-bottom: 20px;
}

.w-room .textarea {
    padding: 0 12px 3px 6px;
}

.w-room .textarea textarea {
    width: 100%;
}