.ui-icon { width: 16px; height: 16px; background-image: url(../imgs/icons.png)/*{iconsContent}*/; }

.ui-resizable { position: relative;}
.ui-resizable-handle { position: absolute;font-size: 0.1px; display: block; }

.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }

.ui-icon-gripsmall-diagonal-se { background-position: -48px 0px; }

.maximize {background-position: 0px 0px;}
.minimize {background-position: -16px 0px;}
.close {background-position: -32px 0px;}
.unread {background-position: -64px 0px;}
.unread.blink {background-position: -80px 0px;}

.active .maximize {background-position: 0px -16px;}
.active .minimize {background-position: -16px -16px;}
.active .close {background-position: -32px -16px;}
.active .unread {background-position: -64px -16px;}
.active .unread.blink {background-position: -80px -16px;}
